:root{
    --background:#292d3e;
    --foreground:#959dcb;
    --comment:	#676e95;
    --accent:	#c3e88d;
    --redish:	#ff5370;
    --orangish:	#f78c6c;
    --yellowish:#ffcb6b;
    --greenish:	#c3e88d;
    --bluish:	#82aaff;
    --purplish:	#c792ea;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}

.title {
    margin: 0.5em;
    font-size: 3em;
    font-weight: lighter;
    letter-spacing: 0.05em;
    color: var(--purplish);
}

.newGroceryForm{
    display: flex;
}

.guide{
    color: var(--comment);
    margin-top: 1em;
    font-size: 1.5em;
}

#guideList{
    color: var(--comment);
    margin-top: 1em;
}

.guideItem{
    color: var(--comment);
    margin: 0.5em;
    width: 15em;
    text-align: center;
    padding: 0.2em;
    border-radius: 0.25em;
}

#newGrocery {
    background-color: white;
    color: var(--comment);
    padding: 0.5em;
    width: 25em;
    font-size: 1.5;
    border-radius: 0.25em 0 0 0.25em ;
}

#addBtn{
    background-color: var(--purplish);
    color: var(--background);
    padding: 0.5em;
    font-size: 1.5;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 0.25em 0.25em 0;
}

#addBtn:hover {
    background-color: var(--bluish);
}

#groceryList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    border-radius: 0.5em;
    background-color: var(--comment);
}

.groceryItem {
    background-color: white;
    color: var(--background);
    margin: 0.5em;
    width: 24em;
    text-align: center;
    padding: 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
}

.groceryItem:hover {
   background-color: var(--accent);
   font: bold; 
}